.site-orders-cart-ajax-preloader {
  text-align: center;
}

.site-orders-cart-ajax-preloader img {
  width: 35px;
}

.cart__items {
	grid-area: cart__items;
}

.cart__order-information {
  grid-area: cart__order-information;
}

.cart {
	display: grid;
	grid-gap: 1rem;
	grid-template-areas: "cart__items" "cart__order-information";
}

.cart__item-image {
  grid-area: cart__item-image;
  text-align: center;
  margin-bottom: 1rem;
}

.cart__item-title {
	grid-area: cart__item-title;
}

.cart__item-quantity {
  grid-area: cart__item-quantity;
  text-align: center;
}

.cart__item-price {
  grid-area: cart__item-price;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

.cart__item-actions {
	grid-area: cart__item-actions;
}

.cart__item-delete-image {
  width: auto;
  height: 20px;
}

.cart__item {
	display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 0.5fr auto auto;
  grid-template-areas: "cart__item-title cart__item-title cart__item-title"
                       "cart__item-image cart__item-image cart__item-image"
                       "cart__item-price cart__item-price cart__item-price"
                       "cart__item-quantity auto cart__item-actions";
  align-items: center;
}

.cart__items-box {
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.cart__item-box {
  padding: 1rem 0;
  border-bottom: 1px solid #ececec;
}

.cart__item-box:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}

.cart__item-link {
  color: #222;
}

.cart__item-link:hover {
  color: #898f97;
}

.cart__item-actions {
  text-align: center;
}

.cart__item-delete {
  background: 0;
  border: 0;
  color: #898f97;
}

.cart__item-delete:hover {
  color: #222;
  cursor: pointer;
}

.cart__item-quantity-actions {
  border: 1px solid #ececec;
  display: inline-flex;
}

.cart__item-quantity-actions,
.cart__item-quantity-actions * {
  box-sizing: border-box;
}

.cart__item-quantity-actions-button {
  outline:none;
  -webkit-appearance: none;
  background-color: #efefef;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: auto;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.cart__item-quantity-actions-button:before,
.cart__item-quantity-actions-button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

.cart__item-quantity-actions-button_plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.cart__item-quantity-actions input[type=number] {
  max-width: 3rem;
  padding: .5rem;
  border: none;
  font-size: 1rem;
  height: 2rem;
  font-weight: bold;
  text-align: center;
}

@media only screen and (min-width: 360px) {
  .cart__item {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 0.5fr 1fr 0.3fr;
    grid-template-areas: "cart__item-title cart__item-title cart__item-title"
                         "cart__item-image cart__item-image cart__item-image"
                         "cart__item-quantity cart__item-price cart__item-actions";
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
	.cart__item {
		grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "cart__item-image cart__item-title cart__item-title"
                         "cart__item-quantity cart__item-price cart__item-actions";
  }
  .cart__item-quantity-actions-button {
    width: 2rem;
  }
  .cart__item-quantity-actions-button {
    width: 2rem;
  }
  .cart__item-quantity-actions input[type=number] {
    max-width: 4rem;
  }
}

@media only screen and (min-width: 992px) {
	.cart__item {
		grid-template-columns: 1fr 2fr 1fr 1fr 0.5fr;
		grid-template-areas: "cart__item-image cart__item-title cart__item-quantity cart__item-price cart__item-actions";
  }

  .cart__item-image {
    margin-bottom: 0;
  }

  .cart__item-price {
    font-size: 1.2em;
    font-weight: 700;
  }
}

@media only screen and (min-width: 1200px) {
	.cart {
    grid-template-columns: 65% auto;
    grid-gap: 4rem;
		grid-template-areas: "cart__items cart__order-information";
  }
	.cart__item {
		grid-template-columns: 1fr 1.5fr 1fr 1.5fr 0.2fr;
		grid-template-areas: "cart__item-image cart__item-title cart__item-quantity cart__item-price cart__item-actions";
  }
}

@media only screen and (min-width: 1400px) {
	.cart__item {
		grid-template-columns: 1fr 2fr 1fr 1fr 0.2fr;
		grid-template-areas: "cart__item-image cart__item-title cart__item-quantity cart__item-price cart__item-actions";
  }
}
