.site-commerce-cart-product-add-form__btn-no-background {
  background: none;
  color: #000;
  border: 2px solid black;
}

.site-commerce-cart-product-add-form__btn-no-background:hover {
  background: #eeeeee;
  color: #000;
}

.site-commerce-cart-product-add-form__not-in-stock {
  text-align: center;
  background: #f4f4f4;
  padding: 0.6rem;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  display: initial;
}
