{# Look variables in template_preprocess_site_orders_cart_details #}

{# Enabling the basket design library #}
{{ attach_library('site_commerce_cart/details') }}

<div id="cart-wrapper">
  {% if positions_in_cart %}
    <div class="cart">
      <div class="cart__items cart__items-box">
        {% for cid, data in products %}
        <div id="cart__item-{{ cid }}" class="cart__item cart__item-box">
          <div class="cart__item-image">
            <img class="cart__image" src="{{ data.image_url }}"/>
          </div>
          <div class="cart__item-title">
            <a class="cart__item-link" href="{{ data.url }}">{{ data.title }}</a>
          </div>
          <div class="cart__item-quantity">
            <div class="cart__item-quantity-actions">
              <button cid="{{ cid }}" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="cart__item-quantity-actions-button cart__item-quantity-actions-button_minus"></button>
              <input cid="{{ cid }}" id="cart__item-quantity-value-{{ cid }}" class="cart__item-quantity-value" min="{{ data.quantity_min }}" name="quantity" value="{{ data.quantity_cart }}" type="number">
              <button cid="{{ cid }}" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="cart__item-quantity-actions-button cart__item-quantity-actions-button_plus"></button>
            </div>
          </div>
          <div class="cart__item-price">
            {% if data.quantity_unit %}
              {{ data.price }} {{ data.symbol }}/{{ data.quantity_unit }}
            {% else %}
              {{ data.price }} {{ data.symbol }}
            {% endif %}
          </div>
          <div id="cart__item-actions-{{ cid }}" class="cart__item-actions">
            <button class="cart__item-delete" cid="{{ cid }}">
              <img class="cart__item-delete-image" src="/modules/contrib/site_commerce_cart/images/trash.svg"/>
            </button>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="cart__order-information">
        {{ order_information }}
      </div>
    </div>
  {% else %}
    {{ cart_empty }}
  {% endif %}
</div>
