{# Enabling the order information design library #}
{{ attach_library('site_commerce_cart/order_information') }}

<div class="order-information">
	<div class="order-information__preloader"></div>

	{# Блок с информацией об итоговой стоимости #}
	<div class="order-information__order-cost">
		<div class="order-information__order-cost-title">{{ 'Total cost'|t }}</div>
		<div class="order-information__order-cost-value">
		  {{ order_cost }} <span class="order-information__order-cost-currency order-information__order-cost-currency__{{ default_currency_code|lower }}">{{ symbol }}</span>
		</div>
	</div>

	{# Блок с кнопками действий, переход на форму оформления заказа #}
	<div class="order-information__actions">
		<a class="button button--primary order-information__btn-goto-order-checkout" href="{{ path('site_commerce_order.checkout') }}">
			{{ 'Go to checkout'|t }}
		</a>
	</div>
</div>
